@import "./global.scss";

.cart-items-container {
  max-width: 1200px;
  margin: 200px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  height: 100%;

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 300px;

    .cart-amount {
      font-size: 1.5rem;
      font-weight: 600;

      span {
        color: $Gold;
      }
    }

    .cart-buttons {
      display: flex;
      gap: 1rem;
      button {
        background-color: $White;
        border: none;
        padding: 10px 15px;
        border-radius: 100px;
        border: 2px solid $Gold;
        transition: all 0.3s ease;

        &:hover {
          cursor: pointer;
          background-color: $Gold;
          color: $White;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .cart-items-container {
    padding: 0 2rem;
    margin: 120px auto 1rem auto;
  }
}

@media (max-width: 470px) {
  .cart-items-container {
    padding: 0 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 350px) {
  .cart-items-container {
    h1 {
      font-size: 1.2rem;
    }

    .cart-footer {
      .cart-amount {
        font-size: 1.2rem;
      }
    }
  }
}
