@import "./global.scss";

.home-banner {
  height: 70vh;
  background: url(../assets/home-page/cover-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px black;

  h1 {
    text-align: center;
    color: $White;
    display: none;
  }
}

.about-me {
  display: flex;
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
  gap: 2rem;

  .about-me-img {
    background: url(../assets/home-page/about-me.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .about-me-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      overflow: hidden;
    }
  }
}

.carousel-products {
  padding: 2rem 0;
}

@media (max-width: 700px) {
  .home-banner {
    height: 40vh;
    box-shadow: 0px -5px 40px black;
  }
  .about-me {
    gap: 1rem;
    .about-me-img {
      background-size: contain;
    }
    .about-me-text {
      h2 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 615px) {
  .about-me {
    .about-me-text {
      gap: 1rem;
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 540px) {
  .about-me {
    flex-direction: column;

    .about-me-img {
      background-size: cover;
      width: 100%;
      height: 400px;
    }
  }
}
